var cdiv = document.getElementById( "comments" );

var ncomm = $("<%= escape_javascript(render(:partial => @comment))%>");
$('#comments').append(cdiv, newcomm);
$('#comment_<%= @comment.id %>').fadeIn('slow');
