<p id="notice"><%= notice %></p>

<p>
  <strong>Post:</strong>
  <%= @comment.post_id, remote: true %>
</p>

<p>
  <strong>Body:</strong>
  <%= @comment.body, remote: true %>
</p>

<p><strong>
Posted <%= time_ago_in_words(comment.created_at), remote: true %>
</strong><br />
<%= h(comment.body) %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
